
   <table cellpadding="0" cellspacing="0" class=ProdutoEmColuna  border="0" >
        <tr>
            <td class="nomeproduto">
                ---nomeproduto---</td>
        </tr>
        <tr>
            <td  class=bordaBottom>
           
               </td>
        </tr>
        <tr>
            <td  class=brevedescricao>
                <a href="#"    id=---nomeimagem--- ><img src="---caminhoimagem---" height="135px" alt="---nomeimagem---" hspace=2 vspace=2 style="float:left"   id=---nomeimagem--- /></a>  ---brevedescricao---</td>
        
        </tr>
        
        <tr>
            <td  >
                <a href="detalhesproduto.aspx---codigoproduto---" class=MaisDetalhes>Mais Detalhes</td>
        </tr>
        </table>
        <br>