<table border="0" width="100%" align=center cellpadding="0" cellspacing="0" class=fonte3>
    <tr>
        <td valign=top>&nbsp;</td>
    </tr>
    <tr>
        <td valign=top>
            Olá,  --nome-- ! <br /><br />
            Sua senha de acesso na   Loja Virtual : --empresa--  é a seguinte: <br /><br />
            <B> --senha-- </b><br /><br />
            Para sua segurança não revele sua senha a ninguém.<br />
            Se você não solicitou sua senha, não se preocupe. <br />
            Essa mensagem foi enviada apenas para o seu e-mail, e só você tem acesso a ela.<br /><br />
            Atenciosamente, <br />
        </td>
    </tr>
    <tr>
        <td valign=top>&nbsp;</td>
    </tr>
</table>