<table id="BoxContatosTemplate"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="images/BoxContatoOutLook_01.jpg" width="20" height="29" alt="Decorativo"></td>
		<td class="BCT-Top" nowrap>
            <span class="BCT-Grupo">--grupo--</span><span class="BCT-Area">/ --area--</span> </td>
		<td>
			<img src="Images/BoxContatoOutLook_03.jpg" width="7" height="29" alt="Decorativo"></td>
	</tr>
    
	<tr>
		<td class="BCT-Left">
</td>
        		<td  valign="top">
		<br/>
		--inicio--
		<span class="BCT-Campo">--campo--</span>: <span class="BCT-Informacao">--informacao--</span><br>
		--/inicio--
		</td> 
		<td class="BCT-Right">
</td>
	</tr>
	<tr>
		<td>
			<img src="images/BoxContatoOutLook_07.jpg" width="20" height="8" alt="Decorativo"></td>
		<td class="BCT-Bottom">
        <div class="BCT-btEditar"></div>
        <td>
			<img src="images/BoxContatoOutLook_09.jpg" width="7" height="8" alt="Decorativo"></td>
	</tr>
</table>