<edit>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src='--imagemlogo--'></td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2"><B>Olá --cliente--, veja abaixo os dados de seu pedido.</B><BR><BR></td>
    </tr>
</table>
</edit>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><b>N&ordm; do Pedido</b></td>
        <td>--cPedido--</td>
        <td><b>Data do Pedido</b></td>
        <td>--dPedido--</td>
    </tr>
</table>
<br />
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><b>DESCRIÇÃO DO PRODUTO</b></td>
        <td><b>QTD</b></td>
        <td><b>VALOR UNITÁRIO R$</b></td>
        <td><b>TOTAL R$</b></td>
    </tr>
    <!--INICIO-->
    <tr>
        <td>--tProduto--</td>
        <td>--nQtd--</td>
        <td>--vUnitario--</td>
        <td>--vTotal--</td>
    </tr>
    <!--FIM-->
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>--vTotalGeral--</td>
    </tr>
</table>
<br />
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="fonte1">
  <tr>
    <td width="15">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="20" bgcolor="#F8F8F8">
      <table width="100%" border="0" cellpadding="8" cellspacing="0" class="fonte1">
        <tr>
			 <td width="33%" valign=top><b>ENDEREÇO DE ENTREGA</b><br>--EnderecoEntrega--<br><br>
			 <td width="33%" valign=top><b>PRAZO DE ENTREGA</b><br>--PrazodeEntrega--</td>	
			 <td width="33%" align=right>A confirmação do pedido foi enviada para o seu e-mail <b> --EmailEnvio-- </b></td>
		   </tr>
		 </table>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height=20>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<edit>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><b>Todas as mercadorias adquiridas atrav&eacute;s da --empresa-- ser&atilde;o faturadas pela --empresa--.</b></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center"><b>--empresa--</b>  -  <b>--emailempresa--</b></td>
    </tr>
</table>
</edit>