<edit>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src='--imagemlogo--'></td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2"><B>Ol&aacute; --cliente--, veja abaixo os dados de seu pedido.</B><BR><BR></td>
    </tr>
</table>
</edit>
<table width="100%">
    <tr>
        <td>N&ordm; do Pedido</td>
        <td>--cPedido--</td>
        <td>Data do Pedido</td>
        <td>--dPedido--</td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td>DESCRI&Ccedil;&Atilde;O DO PRODUTO</td>
        <td>QTD</td>
        <td>VALOR UNIT&Aacute;RIO R$</td>
        <td>TOTAL R$</td>
    </tr>
    <!--INICIO-->
    <tr>
        <td>--tProduto--</td>
        <td>--nQtd--</td>
        <td>--vUnitario--</td>
        <td>--vTotal--</td>
    </tr>
    <!--FIM-->
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>--vTotalGeral--</td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="fonte1">
  <tr>
    <td width=15>&nbsp;</td>
    <td>&nbsp;</td>
    <td width=15>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height=20 bgcolor="F8F8F8">
      <table width=~~100% border="0" cellpadding=8 cellspacing="0" class="fonte1">
        <tr>
			 <td width=33% valign=top>
                <b>ENDERE&Ccedil;O DE ENTREGA</b>
                <br>
                <table width="100%">
                    <tr>
                        <td>
                            --tEnderecoCliente--, --tNumeroCliente-- , --tComplemento--
                        </td>
                    </tr>
                    <tr>
                        <td>--tCidade-- - --tEstado--</td>
                    </tr>
                    <tr>
                        <td>--tCEP-- - --tPais--</td>
                    </tr>
                </table>
                <br><br>
			 <td width=33% valign=top><!-- <b>PRAZO DE ENTREGA</b>--><br><!-- --PrazodeEntrega-- --></td>	
			 <td width=33% align=right valign="top">A confirma&ccedil;&atilde;o do pedido foi enviada para o seu e-mail <b> --EmailEnvio-- </b></td>
		   </tr>
		 </table>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height=20>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<edit>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><b>Todas as mercadorias adquiridas atrav&eacute;s da --empresa-- ser&atilde;o faturadas pela --empresa--.</b></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center"><b>--empresa--</b>  -  <b>--emailempresa--</b></td>
    </tr>
</table>
</edit>