    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="---caminhoimagem---" height="40px" alt="---nomeimagem---" /></td>
            <td rowspan="5">
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                ---nomeproduto---</td>
        </tr>
        <tr>
            <td>
                ---precoproduto---</td>
        </tr>
        <tr>
            <td>
                ver mais&nbsp;</td>
        </tr>
    </table>